<body class="signup-view">
  <div class="signup">
    <h2 class="sign_label">Sign up.</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class:"form-group") do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="su-form-content">
        <div class="su_field">
          <%= f.label :email, class:"su_lbl" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", type:"email", placeholder:"Enter email" %>
        </div>

        <div class="su_field">
          <%= f.label :password, class:"su_lbl" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", class:"form-control", type:"password", placeholder:"Password" %>
        </div>

        <div class="su_field">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", type:"password", placeholder:"Confirm Password" %>
        </div>

        <div class="su_actions">
          <%= f.submit "Sign up", class:"btn btn-primary" %>
        </div>

        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</body>