- if current_user.age
  = render 'navbar'
- else
  = render 'bar'

%h2 Enter dietary restrictions and preferences here

= form_tag edit_path, :class => '' do

  = label_tag(:age, 'Age')
  = number_field_tag :age, 'age', min: 1, required: true, class: ""

  = label_tag :gender, 'Gender'
  = radio_button_tag :gender, 'Male', class: "form-check input"
  = label_tag :gender, 'Male'
  = radio_button_tag :gender, 'Female', class: "form-check input"
  = label_tag :gender, 'Female'

  = label_tag(:weight, 'Weight (lbs)')
  = number_field_tag(:weight, 'weight', min: 1, required: true)

  = label_tag(:height, 'Height (inches)')
  = select_tag(:height, options_for_select(["53 (4'5)", "54 (4'6)", "55 (4'7)", "56 (4'8)", "57 (4'9)", "58 (4'10)", "59 (4'11)", "60 (5'0)","61 (5'1)", "62 (5'2)", "63 (5'3)", "64 (5'4)", "65 (5'5)", "66 (5'6)", "67 (5'7)", "68 (5'8)", "69 (5'9)", "70 (5'10)", "71 (5'11)", "72 (6'0)", "73 (6'1)", "74 (6'2)", "75 (6'3)", "76 (6'4)", "77 (6'5)", "78 (6'6)", "79 (6'7)", "80 (6'8)", "81 (6'9)", "82 (6'10)", "83 (6'11)", "84 (7'0)", "85 (7'1)", "86 (7'2)", "87 (7'3)", "88 (7'4)", "89 (7'5)"]))

  = label_tag(:exercise, 'Exercise Level')
  = select_tag(:exercise, options_for_select(["Light", "Moderate", "Heavy"]))

  = label_tag(:goal, 'Goal')
  = select_tag(:goal, options_for_select(["Gain", "Maintain", "Lose"]))
  
  = label_tag(:time, 'Time available to cook per day')
  = number_field_tag(:time, 'time', min: 1, required: true)

  = label_tag(:cuisine, 'Cuisine Preferences')
  = check_box(:cuisine, "cuisine", {:multiple => true}, "chinese", nil)
  = label_tag :cuisine, 'Chinese'
  = check_box(:cuisine, "cuisine", {:multiple => true}, "italian", nil)
  = label_tag :cuisine, 'Italian'
  = check_box(:cuisine, "cuisine", {:multiple => true}, "thai", nil)
  = label_tag :cuisine, 'Thai'
  = check_box(:cuisine, "cuisine", {:multiple => true}, "mexican", nil)
  = label_tag :cuisine, 'Mexican'

  = submit_tag 'Save Changes'
