%h2 Enter dietary restrictions and preferences here

= form_tag edit_path, :class => '' do

  = label_tag(:age, 'Age')
  = number_field_tag :age, 'age', min: 1, required: true

  = label_tag :gender, 'Gender'
  = radio_button_tag :gender, 'Male', class: "form-check input"
  = label_tag :gender, 'Male'
  = radio_button_tag :gender, 'Female', class: "form-check input"
  = label_tag :gender, 'Female'

  = label_tag(:weight, 'Weight')
  = number_field_tag(:weight, 'weight', min: 1, required: true)

  = label_tag(:height, 'Height')
  = number_field_tag(:height, 'height', min: 1, required: true)

  = label_tag(:exercise, 'Exercise Level')
  = select_tag(:exercise, options_for_select(["Light", "Moderate", "Heavy"]))

  = label_tag(:goal, 'Goal')
  = select_tag(:goal, options_for_select(["Gain", "Maintain", "Lose"]))

  = label_tag(:budget, 'Weekly Grocery Budget')
  = number_field_tag(:budget, 'budget', min: 1, required: true)

  = label_tag(:time, 'Time available to cook per day')
  = number_field_tag(:time, 'time', min: 1, required: true)

  = label_tag(:cuisine, 'Cuisine Preferences')
  = text_field(:cuisine, 'cuisine')

  = submit_tag 'Save Changes'
