%h2 Enter dietary restrictions and preferences here

= form_tag edit_path, :class => '' do

  = label_tag(:age, 'Age')
  = number_field_tag :age, 'age', min: 1, required: true

  = label_tag :gender, 'Gender'
  = radio_button_tag :gender, 'Male', class: "form-check input"
  = label_tag :gender, 'Male'
  = radio_button_tag :gender, 'Female', class: "form-check input"
  = label_tag :gender, 'Female'

  = label_tag(:weight, 'Weight (lbs)')
  = number_field_tag(:weight, 'weight', min: 1, required: true)

  = label_tag(:height, 'Height (ft)')
  = select_tag(:height, options_for_select(["4'5", "4'6", "4'7", "4'8", "4'9", "4'10", "4'11", "5'0", "5'1", "5'2", "5'3", "5'4", "5'5", "5'6", "5'7", "5'8", "5'9", "5'10", "5'11", "6'0", "6'1", "6'2", "6'3", "6'4", "6'4", "6'5", "6'6", "6'7", "6'8", "6'9", "6'10", "6'11", "7'0", "7'1", "7'2", "7'3", "7'4", "7'5"]))

  = label_tag(:exercise, 'Exercise Level')
  = select_tag(:exercise, options_for_select(["Light", "Moderate", "Heavy"]))

  = label_tag(:goal, 'Goal')
  = select_tag(:goal, options_for_select(["Gain", "Maintain", "Lose"]))

  = label_tag(:budget, 'Weekly Grocery Budget')
  = number_field_tag(:budget, 'budget', min: 1, required: true)

  = label_tag(:time, 'Time available to cook per day')
  = number_field_tag(:time, 'time', min: 1, required: true)

  = label_tag(:cuisine, 'Cuisine Preferences')
  = text_field(:cuisine, 'cuisine')

  = submit_tag 'Save Changes'
