%body
  %h2.text-center Recommended Weekly Meal Plan
  .wrapper
    %header.header Your calories are #{@calories}
    %aside.aside.aside-l
      %h3 Breakfast - #{@breakTitle}
      %h5 Calories: #{@breakCals}
      %h5 Preparation time: #{@breakTime} mins
      %h5 Cost: $#{@breakPrice}
    %aside.aside.aside-d
      %h3 Lunch - #{@lunchTitle}
      %h5 Calories: #{@lunchCals}
      %h5 Preparation time: #{@lunchTime} mins
      %h5 Cost: $#{@lunchPrice}
    %aside.aside.aside-b
      %h3 Dinner - #{@dinTitle}
      %h5 Calories: #{@dinCals}
      %h5 Preparation time: #{@dinTime} mins
      %h5 Cost: $#{@dinPrice}
    %footer.footer Footer

= link_to 'Edit Preferences', edit_path

= link_to "Log Out", destroy_user_session_path, method: :delete 