<body class="show-view">
  <%= render 'navbar' %>
  <h2 class="text-center show-label">Your Meal Plan</h2>
  <header class="header">Your calories are <%=@calories%></header>

  <div class="flex-row">
    <div class="card-deck mp-cards">

      
      <div class="card">
        <img height="200" width="300" class="card-img-top" src="<%= @breakImg %>"/>
        <div class="card-body">
          <h5 class="card-title"><%= @breakTitle%></h5>
          <p class="card-text">Text may not use</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Calories: <%=@breakCals%> </li>
          <li class="list-group-item">Preparation Time: <%=@breakTime%> mins</li>
        </ul>
        <div class="card-body">
          <%= link_to "View Recipe", @breakLink, class: "btn btn-primary" %>
          <%= link_to "Favorite Breakfast", favorite_recipe_path(:Type => "Breakfast", :Title => @breakTitle, :Calories => @breakCals, :PrepTime => @breakTime), class: "btn btn-primary fav"%>
        </div>
      </div>

      <div class="card two">
        <img height="200" width="300" class="card-img-top" src="https://www.nhm.ac.uk/discover/dino-directory/_jcr_content/par/row2cells13_copy/par2/headertextimage.img.320.low.jpg/1530562710870.jpg"/>
        <div class="card-body">
          <h5 class="card-title"><%= @lunchTitle%></h5>
          <p class="card-text">Text may not use</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Calories: <%=@lunchCals%> </li>
          <li class="list-group-item">Preparation Time: <%=@lunchTime%> mins</li>
        </ul>
        <div class="card-body">
          <%= link_to "View Recipe", @lunchLink, class: "btn btn-primary" %>
          <%= link_to "Favorite Lunch", favorite_recipe_path(:Type => "Lunch", :Title => @lunchTitle, :Calories => @lunchCals, :PrepTime => @lunchTime), class: "btn btn-primary fav"%>
        </div>
      </div>

      <div class="card three">
        <img height="200" width="300" class="card-img-top" src="<%= @dinImg %>">
        <div class="card-body">
          <h5 class="card-title"><%= @dinTitle%></h5>
          <p class="card-text">Text may not use</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Calories: <%=@dinCals%> </li>
            <li class="list-group-item">Preparation Time: <%=@dinTime%> mins</li>
        </ul>
        <div class="card-body">
          <%= link_to "View Recipe", @dinLink, class: "btn btn-primary" %>
          <%= link_to "Favorite Dinner", favorite_recipe_path(:Type => "Dinner", :Title => @dinTitle, :Calories => @dinCals, :PrepTime => @dinTime), class: "btn btn-primary fav"%>
        </div>
      </div>
    </div>
  </div>

</body>