<body class="show-view">
  <%= render 'navbar' %>
  <h2 class="text-center">Recommended Daily Meal Plan</h2>
  <header class="header">Your calories are <%=@calories%></header>

  <div class="flex-row">
    <div class="card-deck mp-cards">

      
      <div class="card">
        <img class="card-img-top" src="<%= @breakImg %>" >
        <div class="card-body">
          <h5 class="card-title"><%= @breakTitle%></h5>
          <p class="card-text">Text may not use</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Calories: <%=@breakCals%> </li>
          <li class="list-group-item">Preparation Time: <%=@breakTime%> mins</li>
        </ul>
        <div class="card-body">
          <a href="#" class="btn btn-primary">View Recipe</a>
          <%= link_to "Favorite Recipe", favorite_recipe_path(:Type => "Breakfast", :Title => @breakTitle, :Calories => @breakCals, :PrepTime => @breakTime), class: "btn btn-primary"%>
        </div>
      </div>

      <div class="card two">
        <img class="card-img-top" src="<%= @lunchImg %>">
        <div class="card-body">
          <h5 class="card-title"><%= @lunchTitle%></h5>
          <p class="card-text">Text may not use</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Calories: <%=@lunchCals%> </li>
          <li class="list-group-item">Preparation Time: <%=@lunchTime%> mins</li>
        </ul>
        <div class="card-body">
          <a href="#" class="btn btn-primary">View Recipe</a>
          <%= link_to "Favorite Recipe", favorite_recipe_path(:Type => "Lunch", :Title => @lunchTitle, :Calories => @lunchCals, :PrepTime => @lunchTime), class: "btn btn-primary"%>
        </div>
      </div>

      <div class="card three">
        <img class="card-img-top" src="<%= @dinImg %>">
        <div class="card-body">
          <h5 class="card-title"><%= @dinTitle%></h5>
          <p class="card-text">Text may not use</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Calories: <%=@dinCals%> </li>
            <li class="list-group-item">Preparation Time: <%=@dinTime%> mins</li>
        </ul>
        <div class="card-body">
          <a href="#" class="btn btn-primary">View Recipe</a>
          <%= link_to "Favorite Recipe", favorite_recipe_path(:Type => "Dinner", :Title => @dinTitle, :Calories => @dinCals, :PrepTime => @dinTime), class: "btn btn-primary"%>
        </div>
      </div>
    </div>
  </div>

</body>