%h2 Enter dietary restrictions and preferences here

= form_tag show_path do

  = label_tag(:age, 'Age')
  = text_field(:age, 'age')

  = label_tag(:gender, 'Gender')
  = radio_button_tag(:gender, 'Male')
  = label_tag(:gender, 'Male')
  = radio_button_tag(:gender, 'Female')
  = label_tag(:gender, 'Female')

  = label_tag(:weight, 'Weight')
  = text_field(:weight, 'weight')

  = label_tag(:height, 'Height')
  = text_field(:height, 'height')

  = label_tag(:exercise, 'Exercise Level')
  = select_tag(:exercise, options_for_select(["Light", "Moderate", "Heavy"]))

  = label_tag(:goal, 'Goal')
  = select_tag(:goal, options_for_select(["Gain", "Maintain", "Lose"]))

  = label_tag(:budget, 'Weekly Grocery Budget')
  = text_field(:budget, 'budget')

  = label_tag(:time, 'Time available to cook per day')
  = text_field(:time, 'time')

  = label_tag(:cuisine, 'Cuisine Preferences')
  = text_field(:cuisine, 'cuisine')

  = submit_tag 'Save Changes'
