<body class="login-view">
  <div class="login">
    <h2 class="login_label">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class:"log-in-form") do |f| %>

      <div class="lo-form-content">
        <div class="lo_field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="lo_field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="lo_field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="lo_actions">
          <%= f.submit "Log in" %>
        </div>

        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</body>
