<body class="login-view">
  <div class="login">
    <h2 class="login_label">Log in.</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class:"log-in-form") do |f| %>

      <div class="lo-form-content">
        <div class="lo_field">
          <%= f.label :email, class:"lo_lbl" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", type:"email", placeholder:"Enter email" %>
        </div>

        <div class="lo_field">
          <%= f.label :password, class:"lo_lbl" %>
          <%= f.password_field :password, autocomplete: "current-password", class:"form-control", type:"password", placeholder:"Password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-group form-check">
            <%= f.check_box :remember_me, class:"form-check-input", type:"checkbox" %>
            <%= f.label :remember_me, class:"form-check-label" %>
          </div>
        <% end %>

        <div class="lo_actions">
          <%= f.submit "Log in", class:"btn btn-primary" %>
        </div>

        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</body>
