<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

<% if notice and alert %>
	<div class="alert alert-dark alert-dismissible fade show _al" role="alert">
	  <strong> <%= notice %> </strong>
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>
	<div class="alert alert-dark alert-dismissible fade show _al" role="alert">
	  <strong> <%= alert %> </strong>
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>
<% elsif notice %>
	<div class="alert alert-dark alert-dismissible fade show _al" role="alert">
	  <strong>  <%= notice %> </strong>
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>
<% elsif alert %>
	<div class="alert alert-dark alert-dismissible fade show _al" role="alert">
	  <strong>  <%= alert %> </strong>
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>
<% end %>
